body {
  font-family: Opens Sans, sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
}

.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453c52;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddTodo {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-button {
  font-size: 14px;
  color: white;
  background-color: #48bb78;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 4px;
}

.TodoSection {
  margin-bottom: 20px;
}

.TodoSectionTitle {
  display: flex;
  color: #453c52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoItem {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453c52;
}

.TodoItem-container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
}

.TodoItem-checkbox {
  width: 16px;
  height: 16px;
}

.TodoItem-dueDate {
  margin-left: 10px;
  color: #453c52;
  font-size: 11px;
}

.TodoItem-delete {
  visibility: hidden;
  margin-left: 8px;
}

.TodoItem-delete > img {
  width: 16px;
}

.TodoItem-container:hover {
  background-color: #f1edf7;
  /* width: fit-content; */
  border-radius: 4px;
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}

.TodoItem-cutWord {
  text-decoration: line-through;
}
